extends ../layout-form

block formContent
  form(id="grupoForm", action="/grupos/create", method="POST")
    label(for="tipo") Tipo:
    input(type="text", id="tipo", name="tipo", class=`form-control ${errors && errors.tipo ? 'error-input' : ''}`, value= data.tipo ? data.tipo : "")
    br
    if errors && errors.tipo
      p.error-message= errors.tipo.msg

    label(for="grupo") Grupo:
    input(type="text", id="grupo", name="grupo", class=`form-control ${errors && errors.grupo ? 'error-input' : ''}`, value= data.grupo ? data.grupo : "")
    br
    if errors && errors.grupo
      p.error-message= errors.grupo.msg

    label(for="cuatrimestre") Cuatrimestre:
    input(type="text", id="cuatrimestre", name="cuatrimestre", class=`form-control ${errors && errors.cuatrimestre ? 'error-input' : ''}`, value= data.cuatrimestre ? data.cuatrimestre : "")
    br
    if errors && errors.cuatrimestre
      p.error-message= errors.cuatrimestre.msg

    label(for="acreditacion") Acreditación:
    input(type="text", id="acreditacion", name="acreditacion", class=`form-control ${errors && errors.acreditacion ? 'error-input' : ''}`, value= data.acreditacion ? data.acreditacion : "")
    br
    if errors && errors.acreditacion
      p.error-message= errors.acreditacion.msg

    label(for="asignatura_id") Asignatura:
    select(id="asignatura_id", name="asignatura_id", class=`form-select ${errors && errors.asignatura_id ? 'error-input' : ''}`)
      if (!data.asignatura_id)
        option(value="", selected)= ''
      each asignatura in asignaturas
        if (data.asignatura_id == asignatura._id)
          option(value=data.asignatura_id, selected)= asignatura.acronimo
        option(value=asignatura._id)= asignatura.acronimo
    br
    if errors && errors.asignatura_id
      p.error-message= errors.asignatura_id.msg 

    #horarioContainer
      br
      u Horario habitual:
      .horarioEntry
        each day in ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']
          input(type="checkbox", id=`horario1_${day.toLowerCase()}`, name=`horario1[dias]`, value=day, checked=data.horario1 && data.horario1.dias === day)
          label(for=`horario1_${day.toLowerCase()}`)= day
          br
        if errors && errors.horario1 && errors.horario1.dias
          p.error-message= errors.horario1.dias.msg 
        label(for="hora_inicio") Hora de inicio:
        input(type="text", id="hora_inicio_1", name="horario1[hora_inicio]", class=`form-control ${errors && errors.horario1 && errors.horario1.hora_inicio ? 'error-input' : ''}`, value= data.horario1 && data.horario1.hora_inicio ? data.horario1.hora_inicio : "")
        br
        if errors && errors.horario1 && errors.horario1.hora_inicio
          p.error-message= errors.horario1.hora_inicio.msg

        label(for="hora_fin") Hora de fin:
        input(type="text", id="hora_fin_1", name="horario1[hora_fin]", class=`form-control ${errors && errors.horario1 && errors.horario1.hora_fin ? 'error-input' : ''}`, value= data.horario1 && data.horario1.hora_fin ? data.horario1.hora_fin : "")
        br
        if errors && errors.horario1 && errors.horario1.hora_fin
          p.error-message= errors.horario1.hora_fin.msg 
      br
      u Horario primera semana (opcional);
      .horarioEntry
        each day in ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']
          input(type="checkbox", id=`horario2_${day.toLowerCase()}`, name=`horario2[dias]`, value=day, checked=data.horario2 && data.horario2.dias === day)
          label(for=`horario2_${day.toLowerCase()}`)= day
          br
        if errors && errors.horario2 && errors.horario2.dias
          p.error-message= errors.horario2.dias.msg 
        label(for="hora_inicio") Hora de inicio:
        input(type="text", id="hora_inicio_2", name="horario2[hora_inicio]", class=`form-control ${errors && errors.horario2 && errors.horario2.hora_inicio ? 'error-input' : ''}`, value= data.horario2 && data.horario2.hora_inicio ? data.horario2.hora_inicio : "")
        br
        if errors && errors.horario2 && errors.horario2.hora_inicio
          p.error-message= errors.horario2.hora_inicio.msg

        label(for="hora_fin") Hora de fin:
        input(type="text", id="hora_fin_2", name="horario2[hora_fin]", class=`form-control ${errors && errors.horario2 && errors.horario2.hora_fin ? 'error-input' : ''}`, value= data.horario2 && data.horario2.hora_fin ? data.horario2.hora_fin : "")
        br
        if errors && errors.horario2 && errors.horario2.hora_fin
          p.error-message= errors.horario2.hora_fin.msg 
    .button-container2
        button(type="submit", class="btn btn-primary") Crear Grupo