extends ../layout-form

block formContent
  form(id="peticionForm", action="/peticiones/create", method="post")
    label(for="profesor") Docente:
    select(id="profesor", name="profesor", class=`form-select ${errors && errors.profesor ? 'error-input' : ''}`)
      - if (!data.profesor)
        option(value="", selected)= ''
      each profesor in profesores
        - if (data.profesor == profesor._id)
          option(value=data.profesor, selected)= profesor.uvus
        option(value=profesor._id)= profesor.uvus
    br
    if errors && errors.profesor
      p.error-message= errors.profesor.msg

    label(for="grupo") Grupo:
    select(id="grupo", name="grupo", class=`form-select ${errors && errors.grupo ? 'error-input' : ''}`)
      - if (!data.grupo)
        option(value="", selected)= ''
      each grupo in grupos
        - if (data.grupo == grupo._id)
          option(value=data.grupo, selected)= `${grupo.asignatura_id.acronimo} - ${grupo.grupo} - ${grupo.tipo} - ${grupo.cuatrimestre}`
        option(value=grupo._id)= `${grupo.asignatura_id.acronimo} - ${grupo.grupo} - ${grupo.tipo} - ${grupo.cuatrimestre}º cuatr.`
    br
    if errors && errors.grupo
      p.error-message= errors.grupo.msg

    label(for="orden") Orden:
    input(type="number", id="orden", name="orden", class=`form-control ${errors && errors.orden ? 'error-input' : ''}`, value= data.orden ? data.orden : "")
    br
    if errors && errors.orden
      p.error-message= errors.orden.msg

    button(type="submit", class="btn btn-primary") Crear Petición
