extends ../layout-form

block formContent
  form(action="/profesores/create", method="post")
    label(for="prelacion") Prelación:
    input(type="number", name="prelacion", min = "0", class=`form-control ${errors && errors.prelacion ? 'error-input' : ''}`, value= data.prelacion ? data.prelacion : "")
    br
    if errors && errors.prelacion
      p.error-message= errors.prelacion.msg

    label(for="nombre") Nombre:
    input(type="text", name="nombre", class=`form-control ${errors && errors.nombre ? 'error-input' : ''}`, value= data.nombre ? data.nombre : "")
    br
    if errors && errors.nombre
      p.error-message= errors.nombre.msg

    label(for="apellidos") Apellidos:
    input(type="text", name="apellidos", class=`form-control ${errors && errors.apellidos ? 'error-input' : ''}`, value= data.apellidos ? data.apellidos : "")
    br
    if errors && errors.apellidos
      p.error-message= errors.apellidos.msg

    label(for="uvus") UVUS:
    input(type="text", name="uvus", class=`form-control ${errors && errors.uvus ? 'error-input' : ''}`, value= data.uvus ? data.uvus : "")
    br
    if errors && errors.uvus
      p.error-message= errors.uvus.msg

    label(for="capacidad") Capacidad:
    input(type="number", id="capacidad", name="capacidad", step="0.01", class=`form-control ${errors && errors.capacidad ? 'error-input' : ''}`, value= data.capacidad ? data.capacidad : "")
    br
    if errors && errors.capacidad
      p.error-message= errors.capacidad.msg

    .button-container2
        button(type="submit", class="btn btn-primary") Crear Profesor
