extends layout

block content
  h1 Listado de Asignaturas

  table#tablaAsignaturas.table.table-striped
    thead
      tr
        th(scope='col') Nombre
        th(scope='col') Titulación
        th(scope='col') Código
        th(scope='col') Acrónimo
    tbody
      each asignatura in asignaturas
        tr(data-href=`/asignaturas/${asignatura._id}`)
          td= asignatura.nombre
          td= asignatura.titulacion
          td= asignatura.codigo
          td= asignatura.acronimo

  script.
    $(document).ready(function() {
      $('#tablaAsignaturas').on('click', 'tr[data-href]', function() {
        window.location.href = $(this).data('href');
      });
      $('#tablaAsignaturas').DataTable();
    });
