extends layout

block content
  h1 Detalles de Asignatura: #{asignatura.nombre}

  h2 Información de la Asignatura
  p Titulación: #{asignatura.titulacion}
  p Código: #{asignatura.codigo}
  p Acrónimo: #{asignatura.acronimo}

  h2 Grupos
  if asignatura.grupos.length > 0
    table#tablaGrupos.table.table-striped
      thead
        tr
          th(scope='col') Tipo
          th(scope='col') Grupo
          th(scope='col') Cuatrimestre
          th(scope='col') Acreditación
          th(scope='col') Horario
      tbody
        each grupo in grupos
          tr
            td= grupo.tipo
            td= grupo.grupo
            td= grupo.cuatrimestre
            td= grupo.acreditacion
            td
              each horarioItem in grupo.horario
                p
                  | Día(s): #{horarioItem.dias.join(', ')}
                  br
                  | Horario: #{horarioItem.hora_inicio} a #{horarioItem.hora_fin}

  else
    p No hay grupos asociados a esta asignatura.

  div.button-container
    a.btn.btn-primary#btnDescargar(href='/plantillas/gruposPlantilla.xlsx', download='gruposPlantilla.xlsx') Descargar plantilla para cargar grupos de la asignatura

  div.button-container
    form(action='/upload', method='post', enctype='multipart/form-data', id='uploadForm')
      input(type='file', name='xlsxFile')
      button.btn.btn-primary(type='submit') Cargar archivo XLSX para procesar en la base de datos


  script.
    $(document).ready(function() {
    $(document).ready(function() {
      $('#tablaGrupos').on('click', 'tr[data-href]', function() {
        window.location.href = $(this).data('href');
      });

      $('#btnDescargar').on('click', function() {
        Swal.fire({
          icon: 'success',
          text: '¡La plantilla se ha descargado correctamente!',
          showConfirmButton: false,
          timer: 1500
        });
      });

      // Verificar si el archivo se cargó correctamente o si hubo un error y mostrar SweetAlert2
      const urlParams = new URLSearchParams(window.location.search);
      const uploaded = urlParams.get('uploaded');
      const error = urlParams.get('error');
      if (uploaded === 'true') {
        Swal.fire({
          icon: 'success',
          text: '¡El archivo se ha cargado correctamente!',
          showConfirmButton: false,
          timer: 1500
        }).then(() => {
          // Eliminar los parámetros de la URL
          window.history.replaceState({}, document.title, window.location.pathname);
        });
      } else if (uploaded === 'false' && error) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: error,
          showConfirmButton: true
        }).then(() => {
          // Eliminar los parámetros de la URL
          window.history.replaceState({}, document.title, window.location.pathname);
        });
      }
    });
