extends ../layout

block content
  h1 Grupos de la asignatura #{asignatura.acronimo}
  if asignatura.grupos.length > 0
    .table-container
      table#tablaData.table.table-striped
        thead
          tr
            th(scope='col') Tipo
            th(scope='col') Grupo
            th(scope='col') Cuatr.
            th(scope='col') Cred.
            th(scope='col') Horario
            if isAdminLoggedIn
              th(scope='col')           
        tbody
          each grupo in asignatura.grupos
            tr
              td= grupo.tipo
              td= grupo.grupo
              td= grupo.cuatrimestre
              td= grupo.acreditacion
              if grupo.horario1
                td
                  p
                    span.bold Horario habitual
                    br
                    span.underline Día(s):
                    |  #{grupo.horario1.dias.join(', ')}
                    br
                    span.underline Horario:
                    |  #{grupo.horario1.hora_inicio} a #{grupo.horario1.hora_fin}
                    if grupo.horario2
                      br
                      br
                      span.bold Horario primera semana
                      br
                      span.underline Día(s):
                      |  #{grupo.horario2.dias.join(', ')}
                      br
                      span.underline Horario:
                      |  #{grupo.horario2.hora_inicio} a #{grupo.horario2.hora_fin}
              else
                td -   
              if isAdminLoggedIn
                td.d-flex.justify-content-center.align-items-center(style='height: 50px;')
                  a(href=`/grupos/${grupo._id}/delete`)
                    i(class='bi bi-trash my-icon')               
  else
    p No hay grupos asociados a esta asignatura.