extends ../layout

block content
  h1 Detalles de Asignatura: #{asignatura.nombre}

  h2 Información de la Asignatura
  p Titulación: #{asignatura.titulacion}
  p Código: #{asignatura.codigo}
  p Acrónimo: #{asignatura.acronimo}

  h2 Grupos
  if asignatura.grupos.length > 0
    .table-container
      table#tablaData.table.table-striped
        thead
          tr
            th(scope='col') Tipo
            th(scope='col') Grupo
            th(scope='col') Cuatr.
            th(scope='col') Cred.
            th(scope='col') Horario
        tbody
          each grupo in asignatura.grupos
            tr
              td= grupo.tipo
              td= grupo.grupo
              td= grupo.cuatrimestre
              td= grupo.acreditacion
              td
                each horarioItem in grupo.horario
                  p
                    span.underline Día(s):
                    | #{horarioItem.dias.join(', ')}
                    br
                    span.underline Horario:
                    | #{horarioItem.hora_inicio} a #{horarioItem.hora_fin}
  else
    p No hay grupos asociados a esta asignatura.

  if isAdminLoggedIn
    div.button-container
      a.btn.btn-primary#btnDescargar(href='/plantillas/gruposPlantilla.xlsx', download='gruposPlantilla.xlsx') Descargar plantilla para cargar grupos de la asignatura

    div.button-container
      form(action='/upload', method='post', enctype='multipart/form-data', id='uploadForm')
        input(type='file', name='xlsxFile')
        button.btn.btn-primary(type='submit') Cargar archivo XLSX para procesar en la base de datos