extends ../layout

block content
  h1 Listado de Asignaciones
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Asignatura
          th(scope='col') Grupo
          th(scope='col') Tipo
          th(scope='col') Cuatr.
          th(scope='col') UVUS
          th(scope='col') Asignados 
          th(scope='col') Excedente

      tbody
        each asignacion in asignaciones
          tr
            td= asignacion.grupo.asignatura_id.acronimo
            td= asignacion.grupo.grupo
            td= asignacion.grupo.tipo   
            td= asignacion.grupo.cuatrimestre                    
            td= asignacion.profesor.uvus
            td= asignacion.profesor.asignados.toFixed(2) 
            td= asignacion.profesor.excedente.toFixed(2)