extends ../layout

block content
  h1 Listado de Asignaciones
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Preferencia
          th(scope='col') Asignatura
          th(scope='col') Grupo
          th(scope='col') Tipo
          th(scope='col') Cuatr.
          th(scope='col') Profesor 
          if isAdminLoggedIn
            th(scope='col')

      tbody
        each peticion in peticiones
          tr
            td= peticion.orden
            td= peticion.grupo.asignatura_id.acronimo
            td= peticion.grupo.grupo
            td= peticion.grupo.tipo   
            td= peticion.grupo.cuatrimestre
            td= peticion.profesor.uvus
            if isAdminLoggedIn
              td.d-flex.justify-content-center.align-items-center(style='height: 50px;')
                a(href=`/peticiones/${peticion._id}/delete`)
                  i(class='bi bi-trash my-icon')            