extends ../layout

block content
  h1 Listado de Asignaciones
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Preferencia
          th(scope='col') Asignatura
          th(scope='col') Grupo
          th(scope='col') Tipo
          th(scope='col') Cuatr.
          th(scope='col') Profesor 

      tbody
        each peticion in peticiones
          tr
            td= peticion.orden
            td= peticion.grupo.asignatura_id.acronimo
            td= peticion.grupo.grupo
            td= peticion.grupo.tipo   
            td= peticion.grupo.cuatrimestre
            td= peticion.profesor.uvus