extends ../layout

block content
  h1 Listado de Profesores
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Nombre
          th(scope='col') Apellidos
          th(scope='col') UVUS
          th(scope='col') Capacidad
          if isAdminLoggedIn
            th(scope='col')
      tbody
        each profesor in profesores
          tr
            td= profesor.nombre
            td= profesor.apellidos
            td= profesor.uvus
            td= profesor.capacidad
            if isAdminLoggedIn
              td.d-flex.justify-content-center.align-items-center(style='height: 50px;')
                a(href=`/profesores/${profesor._id}/delete`)
                  i(class='bi bi-trash my-icon')

  if isAdminLoggedIn
    .button-container
      a.btn.btn-primary(href='/profesores/create') Crear Profesor